#top{
    border: 5px solid red;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;

a{
    margin: 20px;
    font-family: monospace;
    font-size: 20px;
}
}


h1{
    text-align: center;
}
#rubrik1{
    background-color: aqua;
    border: 2px solid black;
    padding-left: 60px;
    padding-right: 60px;
}

#mellan{
    border: 5px solid orange;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin: auto;
    justify-content: space-between;

}

#rubrik_v{
    border: 2px solid black;
    background-color: yellow;
    width: 49%;
}

#rubrik_h{
    border: 2px solid black;
    background-color: pink;
    width: 49%;
}

#botten{
    border: 5px solid yellow;
    width: 80%;
    margin: auto;
}